header {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0 auto;
    background-color: #333;
    color: #fff;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #333;
}

.nav-left {
    display: flex;
    gap: 20px;
}

.nav-right {
    display: flex;
}

nav a {
    text-decoration: none;
    padding: 5px;
    color: #f9f9f9;
    font-weight: bold;
    text-transform: uppercase;
}

nav a:hover {
    background-color: red;
}

.logo-container {
    width: 100%;
    margin-bottom: 20px;
    background-color: rgb(33, 117, 7);
}

.instituto-info h1 {
    font-size: 24px;
    margin: 0;
}

.instituto-info p {
    margin: 5px 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: absolute;
    background-color: #333;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a{
    color: #f9f9f9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-transform: none;
    font-weight: normal;
}

.dropdown-content a:hover {
    background-color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: red;
}
