/* Remove margens externas e define a navbar como fixa, se necessário */
body, html {
  margin: 0;
  padding: 0;
}

/* Estilização da barra de navegação */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004b23;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
}

/* Estilização dos links */
nav a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: bold;
}

/* HOVER vermelho */
nav a:hover {
  background-color: red;
  color: white;
  border-radius: 5px;
}

/* Organização dos elementos à esquerda e direita */
.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #004b23;
  min-width: 200px;
  z-index: 1;
  flex-direction: column;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropbtn:hover {
  background-color: red;
}

/* Banner */
.banner img {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}
