header {
    font-family: Arial, sans-serif;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #333;
    padding: 10px 20px;
}

.nav-left {
    display: flex;
    gap: 20px;
}

.nav-right {
    display: flex;
}

nav a {
    text-decoration: none;
    padding: 5px;
    color: #f9f9f9;
    font-weight: bold;
    text-transform: uppercase;
}

nav a:hover {
    background-color: #006400; /* verde escuro */
    color: white;
}

.banner {
    background-color: #008000; /* verde IFSP */
    padding: 15px 20px;
}

.banner img {
    height: 60px;
}

.instituto-info h1 {
    font-size: 24px;
    margin: 0;
}

.instituto-info p {
    margin: 5px 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #f9f9f9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-transform: none;
    font-weight: normal;
}

.dropdown-content a:hover {
    background-color: #006400;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #006400;
}
